extends layouts/master

block content

  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="tile is-parent">
            <article class="tile is-child notification is-primary">
              <div class="userSettings" id="profileForm">
                <label class="label">Nafn:</label>
                <p class="control">
                  <input class="input" type="text" placeholder="Jón Sigurðsson"  id="name">
                </p>
                <label class="label">Símanúmer</label>
                <p class="control has-icon has-icon-right">
                  <input class="input" type="text" placeholder="123-4567" id="phone">
                </p>
                <label class="label">Email</label>
                <p class="control has-icon has-icon-right">
                  <input class="input" type="text" placeholder="jon@sigurdsson.is"  id="email">
                </p>
                <label class="label">Er þetta fyrsta önnin þín?</label>
                <p class="control">
                  <label class="radio">
                    <input type="radio" name="firstSemester" value="1">Já
                  </label>
                  <label class="radio">
                    <input type="radio" name="firstSemester" value="0">Nei
                  </label>
                </p>
                <label class="label">Ertu í valáföngum?</label>
                <p class="control">
                  <label class="radio">
                    <input type="radio" name="takingElectives" value="1">Já
                  </label>
                  <label class="radio">
                    <input type="radio" name="takingElectives" value="0">Nei
                  </label>
                </p>
                <label class="label">Ertu að útskrifast?</label>
                <p class="control">
                  <label class="radio">
                    <input type="radio" name="isGraduating" value="1">Já
                  </label>
                  <label class="radio">
                    <input type="radio" name="isGraduating" value="0">Nei
                  </label>
                </p>
                <label class="label">Tæknir sem þú getur unnið með:</label>
                <p class="control">
                  <input class="input" type="text" placeholder="Byrjaðu að skrifa" id="addTag">
                  <button class="button is-info" id="confirmTag">Staðfesta tag</button>
                </p>
                <div class="techList" id="techList">
                  
                </div>
              </div>
              <p class="control">
                <button class="button is-info" id="profileSubmit">Staðfesta breytingar</button>
              </p>
            </article>
        </div>
          //- if(setSemester)

            div#question-form
              h1.title.is-1.center-text(v-cloak) {{question.text}}
              a.button.is-large.is-primary.question-form-button(v-on:click="answerQuestion('yes')") Já
              a.button.is-large.is-primary.question-form-button(v-on:click="answerQuestion('no')") Nei

      </div>
    </div>
  </div>
        //- TODO: nav-dots implement
          nav.pagination.nav-question-form
            i.fa.fa-circle.nav-dot.is-active
            i.fa.fa-circle.nav-dot
